name: Node.js CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    env:
      NODE_OPTIONS: --max-old-space-size=4096

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: yarn workspaces focus --all
      - run: yarn lint:all
      - run: yarn tsc
      - run: yarn test:all
      - run: yarn build:all
      - run: yarn fix --check --publish

      - run: ./scripts/build-dynamic-plugins.sh
